<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Admin Functions"}}
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>Admin Functions</h1>
			<hr>

			<ul class="mt-2">
				<li><a href="/admin/logs">Server Logs</a></li>
				<li><a href="/admin/error">Trigger Server Error</a></li>
				<li><a href="/admin/maintenance">Enable Maintenance Mode <i>(<strong>WARNING:</strong> Cannot be undone without server restart)</i></a></li>
				<li><a href="/admin/runnow">Run Maintenance Tasks Now</a></li>
			</ul>
		</div>
	</body>
</html>
