<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Admin Functions"}}
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>Admin Functions</h1>
			<hr>

			<div class="mt-2">
				<a href="/admin/logs">Server Logs</a>
			</div>
		</div>
	</body>
</html>
