<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" (println "Amend Booking" .Booking.ID "for" .Activity.Title)}}

		<script src="/assets/scripts/bookitems.js"></script>
	</head>

	<body>
		{{template "dashnav.gohtml" .}}
		{{template "add-items.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>{{if .Postpone}}Postpone{{else}}Amend{{end}} Booking Ticket #{{.Booking.ID}}</h1>
			<hr>

			<form class="mt-2" method="POST" {{if .Postpone}}action="/book/booking/{{.Booking.ID}}/amend?postpone"{{end}}>
				<p>
					You are amending the booking for ticket <strong>#{{.Booking.ID}}</strong>.
					{{if not .Postpone}}You can further amend this booking until {{.LastTime.Format "02 Jan 06 15:04 MST"}}, and before it has been processed by a technician.{{end}}
					{{if .Booking.Status.Progress}}
						This booking was already in the process of preparation.
						Your technician will be notified but, as a result, your booking may take longer to process.
					{{end}}
				</p>
				<hr>

				<h3>Booking Details</h3>

				<div class="row">
					<div class="col">
						<label class="form-label" for="stime-input">Activity Starts:</label>
						<input class="form-control" value="{{.Booking.StartTime.Format "2006-01-02T15:04"}}" type="datetime-local" name="start_datetime" id="stime-input" required>
					</div>

					<div class="col">
						<label class="form-label" for="etime-input">Activity Ends:</label>
						<input class="form-control" value="{{.Booking.EndTime.Format "2006-01-02T15:04"}}" type="datetime-local" name="end_datetime" id="etime-input" required>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<label class="form-label" for="location-input">Activity Location:</label>
						<input class="form-control" value="{{.Booking.Location}}" type="text" name="location" id="location-input" required>
					</div>
				</div>


				{{if not .Postpone}}
					<div class="row mb-4">
						<div class="col">
							<label class="form-label" for="comments-input">Extra comments:</label>
							<textarea class="form-control" type="text" name="comments" id="comments-input">{{.Booking.Comments}}</textarea>
						</div>
					</div>

					<h3 class="mt-3">Equipment</h3>

					<h4>Core Items</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
							</tr>
						</thead>

						<tbody>
							{{range $i, $item := .Core}}
								<tr>
									<td>{{$item.VisualIndex $i}}</td>
									<td>{{$item.Item.Name}}</td>
									<td>
										<input class="form-control" name="qty_{{$item.Item.ID}}" value="{{$item.Quantity}}" type="number" min="1" max="{{$item.Item.Quantity}}">
									</td>
								</tr>
							{{end}}
						</tbody>
					</table>

					<h4>Extra Items</h4>

					<table class="table table-striped" id="extra_items">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
							</tr>
						</thead>

						<tbody id="extra_items_body">
							{{range $i, $item := .Extra}}
								<tr>
									<td>{{$item.VisualIndex $i}}</td>
									<td>{{$item.Item.Name}}</td>
									<td>
										<input class="form-control" name="eqty_{{$item.Item.ID}}" value="{{$item.Quantity}}" type="number" min="1" max="{{$item.Item.Quantity}}">
									</td>
								</tr>
							{{end}}
						</tbody>
					</table>

					<a href="#" onclick="add_item(event)">Add Extra Item</a>
				{{end}}

				<hr>

				<div class="btn-group pb-2">
					<button type="submit" class="btn btn-success">Save</button>
					<a class="btn btn-secondary" href="/book/booking/{{.Booking.ID}}">Cancel</a>
				</div>
			</div>
		</div>
	</body>
</html>
