<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" (print "Booking \"" .Activity.Title "\"")}}

		<link rel="stylesheet" href="/assets/timetable.css">
		<script src="/assets/scripts/booktime.js"></script>

		<script>
			/* clash detection data */
			let items = JSON.parse({{.ItemsJSON}});
		</script>
	</head>

	<body onload="update_commencing()">
		{{template "dashnav.gohtml" .}}

		<!-- Clash Modal -->
		<div class="modal modal-xl fade" id="clashesModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Potential Equipment Conflict</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<strong>One or more pieces of equipment have already been booked for this timeslot</strong>.
						<br><br>
						Prepper has determined that there are an insufficient number of some pieces of equipment to fulfill this booking.
						You may still submit this booking, but please be aware of the potential conflicts listed below.
						<br>
						<br>

						<table class="table table-sm" id="clashes-table">
							<thead>
								<tr>
									<th scope="col">Equipment</th>
									<th scope="col">Booked By</th>
									<th scope="col">Booked For</th>
									<th scope="col">Timings</th>
									<th scope="col">You Booked</th>
									<th scope="col">They Booked</th>
									<th scope="col">Supply Quantity</th>
									<th scope="col">Net Quantity</th>
								</tr>
							</thead>

							<tbody id="clashesBody">
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Amend</button>
						<button type="button" class="btn btn-warning" onclick="end_clashes()">Confirm Booking</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container container-fluid mt-3">
			<h1>Timings for {{.Activity.Title}}</h1>
			<hr>

			<p>
				You are creating a booking for <strong>{{.Activity.Title}}</strong>.
				Please enter the timing and location information for this booking.
				This page will warn you about any clashes in equipment and allow for you to modify your booking accordingly, if possible.
			</p>
			<hr>

			<div class="mt-2">
				<nav>
					<div class="nav nav-tabs" id="options-tabs">
						<button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual" type="button" role="tab">Manually Enter</button>
						<button class="nav-link" id="automatic-tab" data-bs-toggle="tab" data-bs-target="#automatic" type="button" role="tab" {{if or (not .ISAMS) (not .Timetable)}}disabled{{end}}>From Timetable</button>
					</div>
				</nav>

				<div class="tab-content p-4" id="nav-tabContent">
					<div class="tab-pane fade show active" id="manual" role="tabpanel" tabindex="0">
						<form action="/book/{{.Activity.ID}}/submit" method="GET" id="manual-form">
							<!-- Used to select type serverside -->
							<input type="hidden" name="manual" value="yes">

							<!-- Hidden rows are carry overs from last form -->
							<div class="d-none">
								{{range .Items}}
									{{if .Important}}
										<input type="hidden" name="qty_{{.Item.ID}}" value="{{.Quantity}}">
									{{else}}
										<input type="hidden" name="eqty_{{.Item.ID}}" value="{{.Quantity}}">
									{{end}}
								{{end}}
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="date-input">Activity Date:</label>
									<input class="form-control" type="date" name="date" id="date-input" required>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="stime-input">Activity Start Time:</label>
									<input class="form-control" type="time" name="start_time" id="stime-input" required>
								</div>

								<div class="col">
									<label class="form-label" for="etime-input">Activity End Time:</label>
									<input class="form-control" type="time" name="end_time" id="etime-input" required>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="location-input">Activity Location:</label>
									<input class="form-control" type="text" name="location" id="location-input" required>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col">
									<label class="form-label" for="comments-input">Extra comments:</label>
									<textarea class="form-control" type="text" name="comments" id="comments-input"></textarea>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<button type="submit" class="btn btn-primary form-control" onclick="validate_manual(event)">Book</button>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane fade" id="automatic" role="tabpanel" tabindex="0">
						{{$tl := .TimetableLoop}}
						{{$it := .Items}}
						{{$id := .Activity.ID}}
						{{if .Timetable}}
							<div class="container">
								<p>
									Date and time information will be automatically filled from your timetable information.
									Please enter the first date of the week (beginning on Monday) in which this activity will take place.
								</p>

								<div class="row">
									<label class="form-label" for="week_commencing">Week Commencing:</label>
									<input class="form-control" type="date" id="week_commencing" value="{{.WeekCommencing.Format "2006-01-02"}}" onchange="update_commencing()">
								</div>

								<hr>

								<ul class="nav nav-tabs" role="tablist">
									{{range $i, $t := .Timetable}}
										{{if not $t.Empty}}
											<li class="nav-item" role="presentation">
												<button class="nav-link {{if eq 0 $i}}active{{end}}" id="{{$t.Name}}-tab" data-bs-toggle="tab" data-bs-target="#{{$t.Name}}-tab-pane" type="button" role="tab">{{$t.Name}}</button>
											</li>
										{{end}}
									{{end}}
								</ul>
								<div class="tab-content">
									{{range $i, $t := .Timetable}}
										{{if not $t.Empty}}
											<div class="tab-pane fade show {{if eq 0 $i}}active{{end}}" id="{{$t.Name}}-tab-pane" role="tabpanel" tabindex="0">
												<div class="container container-fluid">
													<div class="row p-4 bg-light border-bottom">
														{{range .Days}}
															<div class="col col-expand-auto">
																<strong>{{.Name}}</strong>
															</div>
														{{end}}
													</div>

													{{range $j, $lp := (index $tl $i)}}
														<div class="row">
															{{range $t.Nth $j}}
																<form action="/book/{{$id}}/submit" method="GET" class="col p-4 col-expand-auto border text-center">
																	<!-- Filled by JavaScript -->
																	<input class="week_commencing_input" name="week_commencing" type="hidden">

																	<!-- Filled for static submission -->
																	<input type="hidden" name="location" value="{{if .Room}}{{.Room.Name}}{{end}}">
																	<input type="hidden" name="start_time" value="{{.StartTime.Format "15:04"}}">
																	<input type="hidden" name="end_time" value="{{.EndTime.Format "15:04"}}">
																	<input type="hidden" name="day" value="{{.Day}}">

																	<!-- Carry over from previous form -->
																	{{range $it}}
																		{{if .Important}}
																			<input type="hidden" name="qty_{{.Item.ID}}" value="{{.Quantity}}">
																		{{else}}
																			<input type="hidden" name="eqty_{{.Item.ID}}" value="{{.Quantity}}">
																		{{end}}
																	{{end}}

																	<button type="submit" class="btn text-primary fake-link" onclick="validate_timetable(event)">
																			{{if .PeriodCode}}
																				{{.PeriodCode}}
																				<br>
																				{{.StartTime.Format "15:04"}} - {{.EndTime.Format "15:04"}}
																				{{if .Room}}{{.Room.Name}}{{end}}
																			{{end}}
																	</button>
																</form>
															{{end}}
														</div>
													{{end}}
												</div>
											</div>
										{{end}}
									{{end}}
								</div>

								<a data-bs-toggle="collapse" href="#commentsCollapse" role="button">Add comments</a>
								<div class="collapse row" id="commentsCollapse">
									<div class="col">
										<label class="form-label" for="comments-input">Extra comments:</label>
										<textarea class="form-control" type="text" name="comments" id="comments-input"></textarea>
									</div>
								</div>
							</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
