<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" (println "View Booking" .Booking.ID "for" .Activity.Title)}}
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			{{- if .NoAmend -}}
				<div class="alert alert-danger">
					<strong>Short Notice Amendment</strong>
					You may not amend this booking.
					Bookings may only be amended one hour before their booked time and before the technician has marked them as complete.
					{{if eq .User.ID .Booking.OwnerID -}}
						<br>
						<br>
						You may still <a class="text-danger" href="/book/booking/{{.Booking.ID}}/cancel">cancel the booking</a>.
					{{- end -}}
				</div>
			{{- end -}}


			<h1>Booking Ticket #{{.Booking.ID}}</h1>
			<hr>

			<div class="mt-2">
				<p>
					Below is a short summary of your booking request as recieved by a technician.
					You may edit your booking up to 1 hour before its scheduled time, or until the technician has marked it as complete.
					You may cancel your booking at any time.
				</p>
				<hr>


				<div class="pb-2">
					<h3>Booking Details</h3>
					<div class="row border">
						<div class="col-lg p-4 border">
							<p><strong>Booked Activity:</strong> {{.Activity.Title}}</p>
						</div>

						<div class="col-lg p-4 border">
							<p>
								<strong>Booking Status:</strong>
								{{if .Booking.Status.Pending}}<span class="text-secondary">{{.Booking.Status}}</span>{{end}}
								{{if .Booking.Status.Progress}}<span class="text-primary">{{.Booking.Status}}</span>{{end}}
								{{if .Booking.Status.Ready}}<span class="text-success">{{.Booking.Status}}</span>{{end}}
								{{if .Booking.Status.Rejected}}<span class="text-danger">{{.Booking.Status}}</span>{{end}}
							</p>
						</div>
					</div>

					<div class="row border mt-1">
						<div class="col-lg ps-4 pe-4 border">
							<p><strong>Booked Activity Description:</strong> {{.Activity.Description}}</p>
						</div>
					</div>

					<div class="row border mt-1">
						<div class="col-lg ps-4 pe-4 border">
							<p><strong>Teacher Comments:</strong> {{if .Booking.Comments}}{{.Booking.Comments}}{{else}}<em>No teacher comments</em>{{end}}</p>
						</div>
					</div>

					<div class="row border mt-1">
						<div class="col-lg p-4 border">
							<p><strong>Booking Start Date:</strong> {{.Booking.StartTime}}</p>
						</div>

						<div class="col-lg p-4 border">
							<p><strong>Booking End Date:</strong> {{.Booking.EndTime}}</p>
						</div>
					</div>

					<div class="row border mt-1">
						<div class="col-lg ps-4 pe-4 border">
							<p><strong>Booking Location:</strong> {{.Booking.Location}}</p>
						</div>
					</div>

					<h3 class="mt-3">Activity Details</h3>
					<p>
						For this activity, you have booked a total of <strong>{{len .Booking.Activity.Equipment}}</strong> items
						for a total requisitioned quantity of <strong>{{.Booking.Activity.TotalQuantity}}</strong>.
					</p>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
								<th scope="col">Important</th>
							</tr>
						</thead>

						<tbody>
							{{range .Booking.Activity.Equipment}}
								<tr>
									<td>{{.Item.Name}}</td>
									<td>{{.Quantity}}</td>
									<td>
										{{if .Important}}
											<span class="text-danger">Yes</span>
										{{else}}
											<span class="text-secondary">No</span>
										{{end}}
									</td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				<hr>
				<div class="text-center mb-3">
					<a href="/dashboard/">Back to Dashboard</a>
					{{if eq .User.ID .Booking.OwnerID}}
					|
					<a href="/book/">Re-Book Another Activity</a>
					|
					<a href="/book/{{.Activity.ID}}">Re-Book This Activity</a>
					{{if .Booking.MayAmend -}}
					|
					<a class="text-warning" href="/book/booking/{{.Booking.ID}}/amend">Amend This Booking</a>
					{{end -}}
					|
					<a class="text-danger" href="/book/booking/{{.Booking.ID}}/cancel">Cancel This Booking</a>
					{{end}}
				</div>
			</div>
		</div>
	</body>
</html>
