<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" (println "Booking \"" .Activity.Title "\"")}}

		<script src="/assets/scripts/bookitems.js"></script>
	</head>

	<body>
		{{template "dashnav.gohtml" .}}
		{{template "add-items.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>Items for {{.Activity.Title}}</h1>
			<hr>

			<p>
				You are creating a booking for <strong>{{.Activity.Title}}</strong>.
				Please confirm the quantities of items required for this activity.
				Extra items added via this form will be requested from the prep office but cannot be guaranteed.
			</p>

			<hr>

			<h2>Core Items</h2>

			<form class="mt-4 pb-2" action="/book/{{.Activity.ID}}/timings">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>

					<tbody>
						{{range $i, $item := .Activity.Equipment}}
							<tr>
								<td>{{$item.VisualIndex $i}}</td>
								<td>{{$item.Item.Name}}</td>
								<td>
									<input class="form-control" name="qty_{{$item.Item.ID}}" value="{{$item.Quantity}}" type="number" min="1" max="{{$item.Item.Quantity}}">
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>

				<h2>Extra Items</h2>

				<table class="table table-striped" id="extra_items">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>

					<tbody id="extra_items_body">
					</tbody>
				</table>

				<a href="#" onclick="add_item(event)">Add Extra Item</a>

				<hr>

				<div class="btn-group">
					<button type="submit" class="btn btn-primary">Next</button>
					<a class="btn btn-secondary" href="/book/">Back</a>
				</div>
			</form>
		</div>
	</body>
</html>
