<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Dashboard"}}
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>{{.Greeting}}, {{.User.DisplayName}}</h1>
			<hr>

			<div class="mt-4">
				<div class="card">
					<div class="card-header">
						<h3>Schedule Today</h3>
					</div>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
