<!DOCTYPE html>

{{define "daily_table"}}
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Activity</th>
			<th scope="col">Location</th>
			<th scope="col">Teacher</th>
			<th scope="col">Timings</th>
			<th scope="col">Status</th>
		</tr>
	</thead>

	<tbody>
		{{range .}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Activity.Title}}</td>
				<td>{{.Location}}</td>
				<td>{{.Owner.DisplayName}} ({{.Owner.Username}})</td>
				<td><a href="#" onmouseover="timeHover(event);" data-bs-toggle="popover" data-bs-content="Period 1" data-bs-trigger="hover">{{.StartTime.Format "15:04"}} - {{.EndTime.Format "15:04"}}</a></td>
				<td>
					{{if .Status.Ready}}<span class="text-success">{{.Status}}</span>{{end}}
					{{if .Status.Pending}}<span class="text-secondary">{{.Status}}</span>{{end}}
					{{if .Status.Progress}}<span class="text-primary">{{.Status}}</span>{{end}}
					{{if .Status.Rejected}}<span class="text-danger">{{.Status}}</span>{{end}}
				</td>
			</tr>
		{{end}}
	</tbody>
</table>
{{end}}

<html>
	<head>
		{{template "head.gohtml" "Dashboard"}}

		<script src="/assets/scripts/dashboard.js"></script>
	</head>

	<body onload="onload()">
		{{template "dashnav.gohtml" .}}

		<template id="toast_template">
			<div class="toast show tex-bg-primary" role="alert" id="new-notification">
				<div class="toast-header">
					<strong class="me-auto toast-title">Bootstrap</strong>
					<small class="text-body-secondary toast-timing">just now</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
				</div>
				<div class="toast-body">
				</div>
			</div>
		</template>

		<div id="notification_area" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

		<div class="container container-fluid mt-3">
			<h1>{{.Greeting}}, {{.User.DisplayName}}</h1>
			<hr>

			<div class="mt-4">
				<div class="alert alert-danger d-none" id="reload_failure">
					<strong>Failed to fetch notifications</strong>
					Failed to fetch updated data from the server.
					Error Message: <span id="save_error"></span>
				</div>

				<p>
					The time now is <span id="current_time">{{.Time.Format "3:04 PM"}}</span>.
					{{if .User.IsTechnician}}
						There are currently <strong>{{len .Bookings}}</strong> upcoming bookings in need of attention.
					{{else}}
						You currently have <strong>{{len .PersonalBookings}}</strong> upcoming bookings.
					{{end}}
				</p>

				{{if not .User.IsTechnician}}
					{{if .LikelyCurrent}}
						<div class="card mb-2">
							<div class="card-header">
								<h3>Current Activity</h3>
							</div>
							<div class="card-body">
								<h5 class="card-title">{{.LikelyCurrent.Title}}</h5>
								<p class="card-text">
									{{.LikelyCurrent.Description}} Uses {{.LikelyCurrent.TotalQuantity}} pieces of equipment.
								</p>

								<a href="/book/booking/{{.LikelyCurrentBooking.ID}}">More Info</a>
							</div>
						</div>
					{{end}}
				{{end}}

				{{if .User.IsTechnician}}
					<div class="card mb-2">
						<div class="card-header">
							<h3>Ongoing Bookings</h3>
						</div>
						<div class="card-body">
							<p class="card-text">Bookings booked for the current time period are shown.</p>

							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Activity</th>
										<th scope="col">Location</th>
										<th scope="col">Teacher</th>
										<th scope="col">Timings</th>
										<th scope="col">Status</th>
									</tr>
								</thead>

								<tbody>
									{{range .OngoingBookings}}
										<tr>
											<td>{{.ID}}</td>
											<td>{{.Activity.Title}}</td>
											<td>{{.Location}}</td>
											<td>{{.Owner.DisplayName}} ({{.Owner.Username}})</td>
											<td><a href="#" onmouseover="timeHover(event);" data-bs-toggle="popover" data-bs-content="Period 1" data-bs-trigger="hover">{{.StartTime.Format "15:04"}} - {{.EndTime.Format "15:04"}}</a></td>
											<td>
												{{if .Status.Ready}}<span class="text-success">{{.Status}}</span>{{end}}
												{{if or .Status.Progress .Status.Pending}}<span class="text-warning">{{.Status}}</span>{{end}}
												{{if .Status.Rejected}}<span class="text-danger">{{.Status}}</span>{{end}}
											</td>
										</tr>
									{{end}}
								</tbody>
							</table>
						</div>
					</div>
				{{end}}

				<div class="card mb-2">
					<div class="card-header">
						<h3>{{if not .User.IsTechnician}}Your{{end}} Bookings Today</h3>
					</div>
					<div class="card-body">
						<p class="card-text">Bookings for the day ahead are shown. {{if .User.IsTechnician}}For bookings to deliver, please see ongoings above.{{end}}</p>

						{{if .User.IsTechnician}}
							{{template "daily_table" .DailyBookings}}
						{{else}}
							{{template "daily_table" .PersonalBookings}}
						{{end}}
					</div>
				</div>

				<hr>
				<p class="text-small">Powered by Prepper - by Ethan Marshall in 2023</p>
			</div>
		</div>
	</body>
</html>
