	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<meta name="description" content="Prepper - Prep Room Organisation Software">
	<meta name="author" content="Ethan Marshall <ethan@ethanjmarshall.co.uk>">
	<link rel="icon" href="/assets/icon.png">
