<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Manage Inventory"}}

		<link rel="stylesheet" href="/assets/inventory.css">
		<script src="/assets/scripts/itemsearch.js"></script>
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>Manage Inventory</h1>
			<hr>

			<div class="mt-4">
				<input id="itemSearch" class="w-25 mb-3 form-control form-control-sm" type="text" placeholder="Search" onkeyup="update_search()">

				<table id="itemsTable" class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
							<th scope="col">Usage Today</th>
							<th scope="col">Currently Available</th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						{{range .Inventory}}
							<tr class="{{if not .Available}}item-unavailable{{end}} item-searchable">
								<td>{{.ID}}</td>
								<td>{{.Name}}</td>
								<td>{{.Quantity}}</td>
								<td>{{.DailyUse}}</td>
								<td {{if lt .Balance 0}}class="text-danger"{{end}}>{{.Balance}}</td>
								<td>
									<a href="/inventory/item/{{.ID}}">Modify</a>
									<a href="/inventory/item/{{.ID}}/locate">Locate</a>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
