<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Link iSAMS Account"}}

		<script src="/assets/scripts/link.js"></script>
		<style>
			table.timetable-table {
				display: table;
			}
			table tr.timetable-table {
				display: table-cell;
			}
			table tr td.timetable-table {
				display: block;
			}
		</style>
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h1>Link to iSAMS</h1>
			<hr>

			{{if not .ISAMSEnabled}}

			<div class="alert alert-warning">
				<strong class="alert-title">iSAMS Support is not Enabled</strong>
				Please ask your system administrator to set up iSAMS support on your server.
			</div>

			{{else}}

			{{if .ISAMSUser}}
				<p>
					<em>{{.TargetUser.DisplayName}}</em>'s account is linked to iSAMS account <strong>{{.ISAMSUser.UserName}}</strong>.
					<a href="/account/{{.TargetUser.ID}}/unlink">Unlink</a>
				</p>
				<code>(ISAMS ID: {{.ISAMSUser.UserCode}})</code>
				<hr>

				<h2>Sync account details</h2>

				<p>
					<a href="/account/{{.TargetUser.ID}}/sync">Click here</a> to sync your account details from iSAMS to keep your datails consistent.
					This will copy your personal and contact details, but <strong>will not</strong> change your username or password.
				</p>

				<hr>
				<h2>Your Periods</h2>

				<ul class="nav nav-tabs" id="timetableTabs" role="tablist">
					{{range $i, $elem := .ISAMSSchedule}}
						<li class="nav-item" role="presentation">
							<button class="nav-link {{if eq $i 0}}active{{end}}" id="tab-{{$i}}" data-bs-toggle="tab" data-bs-target="#pane-{{$i}}" type="button" role="tab">{{$elem.Name}}</button>
						</li>
					{{end}}
				</ul>

				<div class="tab-content" id="timetableContent">
					{{range $i, $elem := .ISAMSSchedule}}
						<div class="tab-pane fade {{if eq $i 0}}show active{{end}}" id="pane-{{$i}}" role="tabpanel">
							<table class="table timetable-table">
								<tbody>
									{{range $elem.Days}}
									<tr class="timetable-table">
										<th class="timetable-table">{{.Name}}</th>
										{{range .Periods}}
												<td class="timetable-table">{{.PeriodCode}}</td>
										{{end}}
									</tr>
									{{end}}
								</tbody>
							</table>
						</div>
					{{end}}
				</div>
			{{else}}
				<p>
					The account <em>{{.TargetUser.DisplayName}}</em> is not currently linked to an iSAMS account.
				</p>
				<br>
				<p>
					Find your account below to link to your iSAMS account and enable timetable support and more!
				</p>
				<hr>

				<label class="form-label">Find your iSAMS account:</label>
				<input id="usernameInput" class="form-control" placeholder="Begin typing your iSAMS username or full name..." onkeyup="update_linking(event)">

				<table class="table table-striped mt-2" id="accountsTable">
					<thead>
						<tr>
							<th scope="col"></th> <!-- UserCode -->
							<th scope="col"></th> <!-- UserName -->
							<th scope="col"></th> <!-- Salutation -->
							<th scope="col"></th> <!-- Action -->
						</tr>
					</thead>

					<tbody>
						{{range .ISAMSUsers}}
							<tr>
								<td>{{.UserCode}}</td>
								<td>{{.UserName}}</td>
								<td>{{.Salutation}}</td>
								<td><a href="link?id={{.UserCode}}">Link Account</a></td>
							</tr>
						{{end}}
					</tbody>
				</table>
			{{end}}

			{{- /* if not .ISAMSEnabled */ -}}
			{{end}}
		</div>
	</body>
</html>
