<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Change Password"}}

		<script src="/assets/scripts/password.js"></script>
	</head>

	<body>
		{{template "dashnav.gohtml" .}}

		<div class="container container-fluid mt-3">
			<h3>Reset Password</h3>
			<hr>

			{{if .Success}}
				<div class="alert alert-success">
					Password changed successfully
				</div>
			{{end}}

			{{if .Error}}
				<div class="alert alert-danger">
					<strong>Password could not be changed</strong>
					Please check that your current password is correct and that the entered password meets all requirements.
				</div>
			{{end}}

			<form method="post" onsubmit="handle_submbit(event)">
				<div class="row">
					<div class="col-lg-auto">
						<label class="form-label" for="old_password">Current Password:</label>
					</div>
					<div class="col-lg">
						<input class="form-control" name="old_password" id="old_password" type="password" placeholder="Current Password">
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-lg-auto">
						<label class="form-label" for="new_password">New Password:</label>
					</div>
					<div class="col-lg">
						<input class="form-control" name="new_password" id="new_password" type="password" placeholder="New Password" onchange="update_form()">
					</div>
					<div class="col-lg-4">
						<div class="form-text">
							<strong>Be sure to choose a strong password!</strong>
							Passwords must contain an upper case, lower case and numeric character.
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-lg-auto">
						<label class="form-label" for="repeat_password">Repeat New Password:</label>
					</div>
					<div class="col-lg">
						<input class="form-control" id="repeat_password" type="password" placeholder="Repeat Password" onchange="update_form()">
					</div>
				</div>

				<hr>

				<div class="row">
					<button class="btn btn-primary" type="submit" id="submitBtn" disabled>Change Password</button>
				</div>

				<div class="row mt-1" id="matchMessage">
					<p class="form-text">Entered passwords do not match</p>
				</div>
			</div>
		</div>
	</body>
</html>
