<!DOCTYPE html>

{{define "tmodal"}}
<div class="modal" id="modal-{{.ID}}" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Booking of {{.Activity.Title}} ({{.StartTime.Format "15:04"}}-{{.EndTime.Format "15:04"}})</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<p>
					For this activity, a total of <strong>{{len .Activity.Equipment}}</strong> items have been booked
					for a total requisitioned quantity of <strong>{{.Activity.TotalQuantity}}</strong>.
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
							<th scope="col">Important</th>
						</tr>
					</thead>

					<tbody>
						{{range .Activity.Equipment}}
							<tr>
								<td>{{.Item.Name}}</td>
								<td>{{.Quantity}}</td>
								<td>
									{{if .Important}}
										<span class="text-danger">Yes</span>
									{{else}}
										<span class="text-secondary">No</span>
									{{end}}
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</div>
			<div class="modal-footer flex justify-content-between">
				<p>Booking for {{.Owner.DisplayName}} - {{.Owner.Username}}</p>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{{end}}

<html>
	<head>
		{{template "head.gohtml" "Tasks Todo"}}

		<script src="/assets/scripts/dashboard.js"></script>
		<link rel="stylesheet" href="/assets/todo.css" />
	</head>

	<body class="vh-100 overflow-x-hidden">
		{{template "dashnav.gohtml" .}}

		<template id="toast_template">
			<div class="toast show tex-bg-primary" role="alert" id="new-notification">
				<div class="toast-header">
					<strong class="me-auto toast-title">Bootstrap</strong>
					<small class="text-body-secondary toast-timing">just now</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
				</div>
				<div class="toast-body">
				</div>
			</div>
		</template>

		<div class="mt-3 list-container overflow-hidden">
			<div class="row h-100 flex-nowrap list-row mx-0">
				<div class="col h-100">
					<div class="card h-100 w-100 list-card">
						<div class="card-header">
							<h5>Unread</h5>
						</div>

						<div class="card-body">
							{{range .Pending}}
								<div class="card" style="width: 100%;">
									<div class="card-body">
										<h5 class="card-title">{{.Activity.Title}}</h5>
										<h6 class="card-subtitle mb-2 text-body-secondary">{{.Owner.Username}} - {{.StartTime.Format "15:04"}} - {{.Location}}</h6>

										<div class="w-100 d-flex flex-row justify-content-between">
											<a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#modal-{{.ID}}">Details</a>

											<div class="btn-group">
												<a href="/todo/reject/{{.ID}}" class="btn btn-sm btn-danger">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
														<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
													</svg>
												</a>

												<a href="/todo/progress/{{.ID}}" class="btn btn-sm btn-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>

								{{template "tmodal" .}}
							{{end}}

							{{if eq 0 (len .Pending)}}<p class="text-center text-secondary">All Clear</p>{{end}}
						</div>
					</div>
				</div>

				<div class="col h-100">
					<div class="card h-100 list-card">
						<div class="card-header">
							<h5>In Progress</h5>
						</div>

						<div class="card-body">
							{{range .Progress}}
								<div class="card border-primary" style="width: 100%;">
									<div class="card-body">
										<h5 class="card-title">{{.Activity.Title}}</h5>
										<h6 class="card-subtitle mb-2 text-body-secondary">{{.Owner.Username}} - {{.StartTime.Format "15:04"}} - {{.Location}}</h6>

										<div class="w-100 d-flex flex-row justify-content-between">
											<a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#modal-{{.ID}}">Details</a>

											<div class="btn-group">
												<a href="/todo/unread/{{.ID}}" class="btn btn-sm btn-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
													</svg>
												</a>
												<a href="/todo/done/{{.ID}}" class="btn btn-sm btn-success">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
														<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
													</svg>
												</a>
												<a href="/todo/reject/{{.ID}}" class="btn btn-sm btn-danger">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
														<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>

								{{template "tmodal" .}}
							{{end}}

							{{if eq 0 (len .Progress)}}<p class="text-center text-secondary">All Clear</p>{{end}}
						</div>
					</div>
				</div>

				<div class="col h-100">
					<div class="half-height">
						<div class="card h-100 list-card">
							<div class="card-header">
								<h5>Done</h5>
							</div>

							<div class="card-body">
								{{range .Done}}
									<div class="card border-success" style="width: 100%;">
										<div class="card-body">
											<h5 class="card-title">{{.Activity.Title}}</h5>
											<h6 class="card-subtitle mb-2 text-body-secondary">{{.Owner.Username}} - {{.StartTime.Format "15:04"}} - {{.Location}}</h6>

											<div class="w-100 d-flex flex-row justify-content-between">
												<a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#modal-{{.ID}}">Details</a>

												<div class="btn-group">
													<a href="/todo/progress/{{.ID}}" class="btn btn-sm btn-primary">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>

									{{template "tmodal" .}}
								{{end}}

								{{if eq 0 (len .Done)}}<p class="text-center text-secondary">All Clear</p>{{end}}
							</div>
						</div>
					</div>

					<div class="half-height mt-1">
						<div class="card h-100 list-card">
							<div class="card-header">
								<h5>Rejected</h5>
							</div>

							<div class="card-body">
								{{range .Rejected}}
									<div class="card border-danger" style="width: 100%;">
										<div class="card-body">
											<h5 class="card-title">{{.Activity.Title}}</h5>
											<h6 class="card-subtitle mb-2 text-body-secondary">{{.Owner.Username}} - {{.StartTime.Format "15:04"}} - {{.Location}}</h6>

											<div class="w-100 d-flex flex-row justify-content-between">
												<a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#modal-{{.ID}}">Details</a>

												<div class="btn-group">
													<a href="/todo/progress/{{.ID}}" class="btn btn-sm btn-primary">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>

									{{template "tmodal" .}}
								{{end}}

								{{if eq 0 (len .Rejected)}}<p class="text-center text-secondary">All Clear</p>{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
