<!DOCTYPE html>

<html>
	<head>
		{{template "head.gohtml" "Tasks Todo"}}

		<link rel="stylesheet" href="/assets/todo.css" />
	</head>

	<body class="vh-100 overflow-x-hidden">
		{{template "dashnav.gohtml" .}}

		<div class="mt-3 h-100 list-container overflow-hidden">
			<div class="row h-100 flex-nowrap list-row mx-0">
				<div class="col h-100">
					<div class="card h-100 w-100 list-card">
						<div class="card-header">
							<h5>Unread</h5>
						</div>

						<div class="card-body">
							<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus tortor et accumsan euismod. Nulla facilisi. Aliquam eu pharetra justo. Nam non tincidunt libero. Ut tortor eros, commodo sit amet vehicula eget, pretium tristique eros. Suspendisse varius nisi non viverra scelerisque. Etiam dictum libero ipsum, quis pellentesque turpis commodo in. Vivamus nec elit vitae arcu accumsan blandit ac quis quam. Donec et risus quis dui dignissim ornare. Sed efficitur blandit dui, eu blandit nisl placerat vitae. Morbi pharetra pretium elit, at ullamcorper justo euismod quis.

Praesent imperdiet aliquet nisi. Nulla eros velit, iaculis ac ante in, sodales tristique dolor. Morbi tempor nunc non est sagittis porttitor. Curabitur semper orci id ante egestas lacinia. Fusce vel molestie ipsum. Integer pretium arcu at accumsan consequat. Suspendisse ornare maximus diam, et suscipit metus consectetur et. Aenean in porta felis. Donec blandit nisi erat, ut molestie tortor molestie sit amet. Integer hendrerit posuere nisl, sed venenatis enim pellentesque quis. Sed nec metus sed odio malesuada condimentum.

Sed erat dolor, dignissim in efficitur vitae, ullamcorper at nisl. Proin a tempus nibh. Sed varius turpis at nisi vehicula convallis. Vivamus in lobortis risus. Integer porta nulla nec orci laoreet aliquet. Nulla ut ante id metus finibus feugiat ac nec tortor. In vitae tellus euismod, finibus erat eget, lobortis arcu. Sed ligula felis, tristique eleifend aliquet eget, tincidunt nec lectus. Integer urna diam, ultricies viverra posuere ac, maximus ut ante. Praesent pulvinar feugiat congue. Proin dapibus est quis orci porttitor, eu imperdiet augue volutpat. Vivamus fringilla lectus ex, sed posuere nibh gravida quis. Praesent nulla eros, dapibus varius lorem eget, rutrum elementum ante. Morbi hendrerit lorem dui, ut viverra dui efficitur eget.

Aenean dui lorem, pretium in ipsum id, euismod aliquet tellus. Ut et efficitur elit. Aliquam fringilla sagittis augue eget pulvinar. Mauris ac dolor nec dui lobortis finibus id sit amet augue. Integer consequat condimentum mi sit amet sagittis. Nunc quis ligula eu erat eleifend lacinia. Pellentesque varius, nisl non ullamcorper mollis, ante leo tempor erat, at porta est risus id ipsum. Fusce tincidunt massa turpis, vitae gravida urna euismod sed. Proin tristique, erat a iaculis suscipit, ante lectus tincidunt velit, condimentum tincidunt justo nisl vitae lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas pulvinar pellentesque nisi, at iaculis eros volutpat auctor. Integer non faucibus diam. Duis elementum semper pretium. Curabitur tempus neque et metus elementum, nec viverra est ultricies. Nulla ullamcorper risus a consectetur rhoncus. Nullam volutpat quam et arcu molestie, id scelerisque neque suscipit.

Maecenas ultrices leo vitae rutrum dapibus. Curabitur mauris ipsum, viverra ac lacus eget, sagittis porttitor nisi. Proin efficitur dui at massa eleifend sodales. Quisque vel mi ligula. Nulla facilisi. Ut commodo fermentum arcu. Quisque nulla leo, molestie sed nulla in, mattis faucibus purus. Morbi at lectus a magna mattis lacinia. Ut varius mollis neque, eget suscipit metus gravida nec. Integer eleifend elit vel dolor eleifend, vel aliquam mauris porta. Cras sit amet dui ipsum. </p>
						</div>

						<div class="card-footer">
							<strong>Total:</strong>
						</div>
					</div>
				</div>

				<div class="col h-100">
					<div class="card h-100 list-card">
						<div class="card-header">
							<h5>In Progress</h5>
						</div>

						<div class="card-body">
						</div>

						<div class="card-footer">
							<strong>Total:</strong>
						</div>
					</div>
				</div>

				<div class="col h-100">
					<div class="row half-height">
						<div class="col">
							<div class="card h-100 list-card">
								<div class="card-header">
									<h5>Done</h5>
								</div>

								<div class="card-body">
								</div>

								<div class="card-footer">
									<strong>Total:</strong>
								</div>
							</div>
						</div>
					</div>

					<div class="row half-height mt-1">
						<div class="col">
							<div class="card h-100 list-card">
								<div class="card-header">
									<h5>Rejected</h5>
								</div>

								<div class="card-body">
								</div>

								<div class="card-footer">
									<strong>Total:</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
